<form [formGroup]="loginForm">
  <div class="form-group">
    <label>CPF ou Email</label>
    <input type="text" formControlName="cpfEmail" />
    <!--<div *ngIf="submitted && f.cpfEmail.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.cpfEmail.errors.required">Username is required</div>-->
    <!--</div>-->
  </div>
  <div>
    <label>Senha</label>
    <input type="password" formControlName="senha"/>
    <!--<div *ngIf="submitted && f.senha.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.senha.errors.required">Password is required</div>-->
    </div>
  <!--</div>-->
  <div>
    <button [routerLink]="['/dashboard']" class="btn btn-primary" (click)="login()">Entrar</button>
    <a class="btn btn-link">Cancelar</a>
  </div>
</form>
